.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.select-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #6f717a;
  margin-top: 15px;
}

.select {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  appearance: none;

  height: 3rem /* 48px */;
  padding-left: 1rem /* 16px */;
  padding-right: 2.5rem /* 40px */;
  padding-right: 2.5rem /* 40px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  line-height: 2;
  min-height: 3rem /* 48px */;

  background: #ffffff;
  border: 1px solid #6f717a;
  width: 320px;
  border-radius: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #6f717a;
  margin-top: 5px;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1px + 50%),
    calc(100% - 16px) calc(1px + 50%);
  background-size:
    4px 4px,
    4px 4px;
  background-repeat: no-repeat;
}

.select:focus {
  outline: 2px solid hsla(var(--bc) / 0.2);
  outline-offset: 2px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  /* padding-top: 150px; */
  justify-content: center;
}

.login-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #0f1222;
}

.login-subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.002em;
  color: #595857;
  margin-top: 16px;
  text-transform: capitalize;
}

.login-btn {
  width: 320px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessionId-input {
  width: 320px;
  margin-top: 48px;
}

.dashboard-container {
  padding: 1.75rem;
  background-color: #f9f9fb;
  min-height: 100vh;
}

.dashboard-header {
  padding: 26px 40px;
  background: linear-gradient(0deg, #ffffff, #ffffff), #f3f3f4;
  border: 1px solid #f3f3f4;
  box-shadow: 4px 4px 20px rgba(46, 91, 255, 0.1);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (width < 780px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
}

.dashboard-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #0f1222;

  @media (width < 780px) {
    font-size: 16px;
  }
}

.dashboard-subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.002em;
  color: #595857;
  text-transform: capitalize;

  @media (width < 780px) {
    font-size: 12px;
    font-weight: 700;
  }
}

.dashboard-action-container {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-items: end;

  @media (width < 640px) {
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
  }
}

.dashboard-action-address {
  background: #f9f9fb;
  border-radius: 12px;
  height: max-content;
  outline: none;
  border: 0px;
  appearance: none;
  padding: 4px 16px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.0857143px;
  color: #7f8fa4;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  cursor: pointer;
}

.dashboard-action-address:hover {
  color: #899db9;
}

.dashboard-action-badge {
  background: #cde0ff;
  border-radius: 12px;
  height: max-content;
  width: max-content;
  padding: 4px 16px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.0857143px;
  color: #000000;

  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}

.dashboard-action-logout {
  background: #ffffff;
  border: 1px solid #f3f3f4;
  border-radius: 1000px;
  height: max-content;
  outline: none;
  appearance: none;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #595857;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  cursor: pointer;
  width: max-content;
}

.dashboard-details-container {
  display: flex;
  column-gap: 2rem;
  margin-top: 1rem;

  @media (width < 780px) {
    flex-direction: column;
    height: auto;
    row-gap: 1rem;
  }
}

.dashboard-details-btn-container {
  background: linear-gradient(0deg, #ffffff, #ffffff), #f3f3f4;
  border: 1px solid #f3f3f4;
  box-shadow: 4px 4px 20px rgba(46, 91, 255, 0.1);
  border-radius: 20px;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  height: calc(100vh - 186px);
  width: 588px;

  @media (width < 780px) {
    width: 100%;
  }
}

.dashboard-details-console-container {
  background: #f3f3f4;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100px;
  height: calc(100vh - 186px);
  overflow-y: auto;
  position: relative;

  @media (width < 780px) {
    width: 100%;
  }
}

.detail-btn {
  width: max-content !important;

  @media (width < 780px) {
    width: 100% !important;
    margin-bottom: -16px;
  }
}

.token-btn {
  margin-top: 24px;
}

.cspr-btn {
  display: flex;
  align-items: flex-start;
  width: 50%;
}

.flex-row {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 1rem;

  @media (width < 640px) {
    flex-direction: column;
    row-gap: 16px;
  }
}

.console-container {
  white-space: pre-line;
  overflow-x: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  word-wrap: break-word;
}

.console-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 30px;
}

.clear-console-btn {
  position: absolute;
  bottom: 32px;
  right: 32px;
  display: none;
}

.logout-img {
  @media (width < 640px) {
    width: 18px !important;
    height: 18px !important;
    max-width: 18px !important;
  }
}

.header-mb {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  @media (width < 640px) {
    width: 100%;
    flex-direction: column;
  }
}

.heading-mb {
  width: 100%;

  @media (width < 640px) {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.expanded-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.details-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.002em;
  color: #000000;
  margin-bottom: 8px;
}

.details-container {
  height: calc(100vh - 200px);
  overflow-y: auto;
  padding: 1.5rem;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--app-gray-100);
  margin-top: 24px;
  margin-bottom: 16px;
}

.network {
  width: max-content !important;
}

.btn-sublabel {
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.0857143px;
  color: #000000;
}

a {
  color: rgb(0, 115, 255);
}

.text-capitalize {
  text-transform: capitalize;
}
