@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  html body {
    font-family: Inter, sans-serif;
  }

  body {
    min-height: 100vh;
  }

  html {
    scroll-behavior: smooth;
  }
}
