<div class="app">
  <div *ngIf="publicAddress === ''">
    <p>Build Environment</p>
    <select name="buildEnv" [(ngModel)]="buildEnv">
      <option *ngFor="let env of buildEnvironments" [value]="env">{{ env }}</option>
    </select>
    <button (click)="login()">Login</button>
  </div>
  <div *ngIf="publicAddress">
    <section>
      <h4>Torus Specific Info (Scroll to check actions output in console box below)</h4>
      <section>
        <div>
          Public Address:
          <i>{{publicAddress}}</i>
        </div>
        <div>
          Network:
          <i>{{ chainIdNetworkMap[chainId.toString()] }}</i>
        </div>
      </section>
      <button (click)="toggleTorusWidget($event)">Show/Hide Torus Button</button>
      <button (click)="getUserInfo($event)">Get User Info</button>
      <button  (click)="createPaymentTx($event)">Create Payment Tx</button>
      <button  (click)="changeProvider($event)">Change Provider</button>
      <button (click)="logout($event)">Logout</button>
 
      <div class="mt-20">
        <select name="verifier" [(ngModel)]="selectedVerifier" (change)="onSelectedVerifierChanged($event)">
          <option *ngFor="let verifier of selectedVerifiers" [value]="verifier.value">{{ verifier.label }}</option>
        </select>
        <input type="email" [(ngModel)]="verifierId" class="mt-20" placeholder="{{ placeholder }}" />
      </div>
      <button [disabled]="!verifierId" class="mt-20" (click)="getPublicAddress($event)">Get Public Address</button>
    </section>
    <section>
      <h4>Blockchain Apis</h4>
      <section>
        <h5>Signing</h5>
        <button (click)="signMessageWithoutPopup($event)">sign_eth_no_popup</button>
        <button (click)="signPersonalMsg($event)">personal_sign</button>
        <button (click)="signMessage($event)">sign_eth</button>
        <button (click)="signTypedDataV1($event)">sign typed data v1</button>
        <button (click)="signTypedDataV3($event)">sign typed data v3</button>
        <button (click)="signTypedDataV4($event)">sign typed data v4</button>
      </section>
      <section>
        <h5>Transactions</h5>
        <button (click)="sendEth($event)">Send Eth</button>
        <button (click)="sendDai($event)">Send DAI</button>
        <button (click)="approveKnc($event)">Approve Knc</button>
      </section>
      <section>
        <h5>Encrypt / Decrypt</h5>
        <button (click)="getEncryptionKey($event)">Get Encryption Key</button>
        <div>
          <input
            [(ngModel)]="messageToEncrypt"
            placeholder="Message to encrypt"
          />
          <button [disabled]="!encryptionKey" class="mt-20" (click)="encryptMessage($event)">Encrypt</button>
        </div>
        <button [disabled]="!messageEncrypted" class="mt-20" (click)="decryptMessage($event)">Decrypt</button>
      </section>
    </section>
    <br />
  </div>
  <div id="console">
    <p></p>
  </div>
</div>